{% extends 'base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block content2 %}
  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Добро пожаловать на сайт просто магазина</h1>
        <p>Лучшие мобилы только у нас:</p>
      </div>
    </div>

  <div class="container">
    <div class="row">
      {% for product in products %}
            <div class="book col-md-4">
                <h2>{{product.name}}</h2>
                <a href="{% url 'product_view' product.slug %}"><img src="{{product.img.url}}" width="180"></a>
                <form method="POST">
                  {% csrf_token %}
                  <input type="hidden" name="id" value="{{product.id}}">
                  <input type="submit" class="btn btn-secondary" value="Добавить в корзину »">
                </form>
            </div>
      {% endfor %}
    </div> <!-- /container -->
  </div>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4">Не знаете что почитать? Читайте наши статьи о крутых мобилах</h1>
        <p>Вот что мы можем предложить:</p>
      </div>
    </div>
    <div class="container mb-4">
      <div class="row">
        {% for article in articles %}
          <div class="col-lg-5 col-sm-6 portfolio-item">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  {{ article.title }}
                </h4>
                {% for product in article.products.all %}
                  <a href="{% url 'product_view' product.slug %}"><img src="{{ product.img.url }}" width="180"></a>
                {% endfor %}
                  <p class="card-text">{{ article.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
<!--    <div class="container mb-4">-->
<!--      &lt;!&ndash; Example row of columns &ndash;&gt;-->
<!--      <div class="row">-->

<!--        <div class="col-md-10">-->
<!--          {% for article in articles %}-->
<!--                <div class="book col-md-3">-->
<!--                    <h2 class="display-10">{{article.title}}</h2>-->
<!--                    <img src="{{article.image.url}}" width="180">-->
<!--                    {{article.text}}-->
<!--                </div>-->
<!--          {% endfor %}-->
<!--        </div>-->

      </div>
    </div> <!-- /container -->

  </main>

  <hr>
  <footer class="container">
    <p>© Просто магазин 2018</p>
  </footer>

  <script src="./static/jquery-3.3.1.slim.min.js"></script>
  <script src="./static/popper.min.js"></script>
  <script src="./static/bootstrap.min.js"></script>
{% endblock content2 %}
